<strong>Olá, {{ deliveryman }}</strong>
<p> Cancelamos a sua encomenda devido a um problema na entrega: <strong>{{description}}</strong> </p>



<p>
  Destinatário: <strong>{{recipient}}</strong> </br>
  Produto: <strong>{{product}}</strong></br>
  Data e Hora: <strong>{{date}}</strong>
</p>