<strong>Olá, {{ deliveryman }}</strong>
<p>Está disponível para retirada uma nova encomenda para ser entregue: </p>

<strong>Produto: </strong>{{product}}. 

<p>Segue abaixo os dados Destinatário: </p><br/>
<p>
  <strong>Nome: </strong>{{recipientName}}.<br/>
  <strong>Endereço: </strong>{{recipientRua}}.<br/>
  <strong>Número: </strong>{{recipientNumero}}.<br/>
  <strong>Complemento: </strong>{{recipientComplemento}}.<br/>
  <strong>Cidade: </strong>{{recipientCidade}}.<br/>
  <strong>Estado: </strong>{{recipientEstado}}.<br/>
  <strong>CEP: </strong>{{recipientCEP}}.<br/><br/><br/>

  <small>
    O produto escontra-se disponível para retirada na central FastFeet, das 08:00 às 18:00
  </small>

</p>